*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

#container{
    margin: 100px auto;
    background-color: #666;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    display: flex;
}

#container div.squareBox{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

#container .click{
    background-color: blue;
    color: white;
}

.pari{
    background-color: lightblue;
}

.dispari{
    background-color: lightcoral;
}